.btn:hover{
        transform: scale(1.4); /* Change the scale factor as per your preference */
    
        
}

.btn{
    transition: transform 0.3s ease;
}
.navi{
    background-color: rgb(192, 253, 220);
    border-radius: 8px;
}
